**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
*.pyc
**/.coverage
**/.coverage.*
benchmarks/results
benchmarks/outputs
benchmarks/dataset
benchmarks/lfwe
venv
important.txt
basilvideo4.py
basilvideo1.py
basilvideo2.py
basilvideo3.py
*.h5
*.keras
saved_models/
facemodel/
model.h5
saved_models/model.h5
saved_models/model.keras
facemodel/variables/variables.data-00000-of-00001


